/*Ajout des fonts personnalisés
Merriweather", serif
Montserrat", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*variables*/
:root {
  --font_title: 'Montserrat', sans-serif;
  --font_text: 'Merriweather', serif;
  --shadow_container: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  --black: #000;
  --white: #fff;
  --blue_dark: #0065fc;
  --blue_light: #deebff;
}

/*Code général*/
body {
  font-family: var(--font_text);
}

main {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

/*Header*/
header {
  width: 100%;
  height: 60px;
  background: var(--blue_dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

#logo {
  width: 50px;
}

.userActions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.userActions i {
  width: 40px;
  height: 40px;
  background: var(--white);
  padding: 10px;
  border-radius: 100%;
  color: var(--black);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_actions i:hover {
  transform: scale(1.2);
}

#searchForm {
  width: 250px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
}

#searchForm.show {
  display: flex;
}

.searchBar {
  width: 220px;
  border: none;
  padding: 12px;
  border-radius: 50px;
}

::placeholder {
  font-size: 1.1em;
  font-weight: bold;
}

/* Bannière */
.banner {
  width: 100%;
  height: 280px;
  background: url('../image/Ban.jpg');
  box-shadow: var(--shadow_container);
}

.banner h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font_title);
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 50px;
  padding-top: 60px;
}

.banner p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: 700;
}

/*Navigation*/
nav {
  width: 15%;
  margin: auto 0;
}

nav a {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 1.5em;
  padding: 10px;
}

nav a img {
  width: 100%;
  height: 130px;
  border-radius: 15px;
  background: var(--black);
}

.navSeparate {
  width: 90%;
  height: 5px;
  background: var(--blue_dark);
  margin: 3px auto;
  border-radius: 5px;
}

/*Footer*/
footer {
  width: 100%;
  height: 200px;
  background: var(--blue_light);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow_container);
}

footer p {
  font-size: 1.1em;
  font-weight: 550;
}
